<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <div>
        <strong>Location A:</strong>
        <form>
            <input class='locA-input' type='text' name='locA' placeholder='Location A'/>
        <strong>Location B:</strong>
            <input class='locB-input' type='text' name='locB' placeholder='Location B'/>
            <strong>Mode of Travel: </strong>
            <select id="mode">
              <option value="DRIVING">Driving</option>
              <option value="WALKING">Walking</option>
              <option value="BICYCLING">Bicycling</option>
              <option value="TRANSIT">Transit</option>
              <input type='submit' value='Submit' />>
            </select>
            </div>
        </form>
    </div>


    <title>Vision[0]</title>
    <style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 63%;
        height: 100%;
      }
      #right-panel {
        float: right;
        width: 34%;
        height: 100%;
      }
      .panel {
        height: 100%;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="right-panel">
      <p>Total Distance: <span id="total"></span></p>
    </div>
    <script>
        'use strict';

        const greeterBox = document.querySelector('div.greeter-box');
        const form = document.querySelector('form');
        const inputA = document.querySelector('.locA-input');
        const inputB = document.querySelector('.locB-input');
        var mode = document.getElementById('mode');
        var path = [];


      function initMap() {

        var locations = [
        {lat: 40.7435636, lng: -74.035635}
        ]

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 40.7, lng: -74.0}
        });

        var labels = 'XZYTEFGHIJKLMNOPQRSTUVWXYZ';
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        
        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

  
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          panel: document.getElementById('right-panel')
        });

        
        // Assign the listener that responds to submit button clicks.
      form.onsubmit = (event) => {
            // This stops the page from reloading on submit.
        event.preventDefault();
 
        // Get the text from the input.
        const text = inputA.value;
        const textB = inputB.value;
        const modeSelect = mode.value;

        directionsDisplay.addListener('directions_changed', function() {
            computeTotalDistance(directionsDisplay.getDirections());
        });

        displayRoute(text.trim(), textB.trim(), modeSelect.trim(), directionsService, directionsDisplay);
      
      };

    }


      function displayRoute(origin, destination, mode, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          waypoints: [{location: origin}, {location: destination}],
          travelMode: mode,
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            path = response.routes[0].overview_path
            display.setDirections(response);
            write(path);
            

          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000;
        document.getElementById('total').innerHTML = total + ' km';
      }


      function write(path){
        fetch('do/' + path)
          .then(function(response){
            return response.json()
          })
          .then(function(results){
            console.log(results)
            doStuff(results)
          });
      }
       

      function doStuff(results){
        
      }


    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZhyQj0Dg2FFBxETnK3fmpETmQ_oWyolk&callback=initMap">
    </script>
  </body>
</html>