<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VISON [0]</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

      <style>
          /* Force scrollbars onto browser window */
          body {
              margin-bottom: 0%;
          }
          /* Box styles */
          .myBox {
              border: none;
              padding: 5px;
              width: 450px;
              height: 250px;
              overflow: scroll;
          }
          /* Scrollbar styles */
          ::-webkit-scrollbar {
              width: 12px;
              height: 12px;
          }
          ::-webkit-scrollbar-track {
              border-radius: 10px;
              width: 2px;
              border: 1px dotted pink;
          }
          ::-webkit-scrollbar-thumb {
              background: pink;
              border-radius: 10px;
          }
              ::-webkit-scrollbar-thumb:hover {
                  background: hotpink;
              }
        p.bluefade{
            color: darkslateblue;
        }
        div.bluecade{
            color: darkslateblue;
        }
      </style>
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-lower"><b>VISION [0]</b></span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none">Explore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Information
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">Map</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Motor Collision Prevention</span>
              <span class="section-heading-lower">lives worth saving</span>
            </h2>
              <div class="myBox">
                  <span class="section-heading-upper"><b>NEW YORK COUNTY</b></span>
                  <p class="mb-3">
                      Statistic shows that 3 NYC residents died, 53 NYC residents were hispitalized and 403 NYC residents were injured every month. In addition, $37.5 million are spent in hospitalization bills that including $6.5 charges to publicly funded programs. Also, 31% were diagnosed with Traumatic Brain Injuries with the highest rates among bicyclists.
                  </p>
                  <span class="section-heading-upper"><b>QUEENS COUNTY</b></span>
                  <p class="mb-3">
                      8 Queens county residents died, 114 Queens county residents were hispitalized and 1315 Queens county residents were injured every month. In addition, $70.8 million are spent in hospitalization bills that including $9.5 charges to publicly funded programs. Also, 30% were diagnosed with Traumatic Brain Injuries with the highest rates among bicyclists.
                  </p>
                  <span class="section-heading-upper"><b>BRONX COUNTY</b></span>
                  <p class="mb-3">
                      4 Bronx county residents died, 73 Bronx county residents were hispitalized and 875 Bronx county residents were injured every month. In addition, $43.0 million are spent in hospitalization bills that including $7 charges to publicly funded programs. Also, 29% were diagnosed with Traumatic Brain Injuries with the highest rates among bicyclists.
                  </p>
              </div>
              <div class="intro-button mx-auto">
                  <a class="btn btn-primary btn-xl" href="about.html"><b>TAKE A LOOK!</b></a>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Goal!</span>
                <span class="section-heading-lower">Motivations & Inspirations</span>
              </h2>
              <p class="mb-0">Our mission is to prevent any future collision with sets of warning indicators built into Google's map! We want to give thanks to Google's API for maps and also give thanks to IBM's API for audio output. The idea of the project was inspired by the collection of data from NYC OpenData. Thus the creation of Vision [0] was born, past collections of data can provide a statistical hotspot where collision usually occurs on the road. From road bicycles to automobile, we can establish a safer route to user's destination. MORE CAUTION! MEAN A LOT SAFER!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Vision [0] 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
